@font-face {
    font-family: TL1;
    src: url(/public/fonts/TL1.ttf);
}
@font-face {
    font-family: TL2;
    src: url(/public/fonts/TL2.ttf);
}
@font-face {
    font-family: TL3;
    src: url(/public/fonts/TL3.ttf);
}
@font-face {
    font-family: TL4;
    src: url(/public/fonts/TL4.ttf);
}
@font-face {
    font-family: TL5;
    src: url(/public/fonts/TL5.ttf);
}
@font-face {
    font-family: TL6;
    src: url(/public/fonts/TL6.ttf);
}
@font-face {
    font-family: TL7;
    src: url(/public/fonts/TL7.ttf);
}
@font-face {
    font-family: TL8;
    src: url(/public/fonts/TL8.ttf);
}